{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des sessions</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_session_new') }}">Ajouter une session</a>
    <table class="table">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nom</th>
                <th>Formateurs</th>
                <th>Promotion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.dateDebut ? session.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ session.nom }}</td>
                <td>
                    {% for formateur in session.formateurid %}
                        {{ formateur.nom }}
                    {% endfor %}
                </td>
                <td>{{ session.promotionId }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_session_edit', {'id': session.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune session</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
