{% extends 'base.html.twig' %}

{% block title %}Les promotions{% endblock %}

{% block body %}
    <div class="p-5">
        <h1>Liste des promotions</h1>
        <a type="button" class="btn btn-primary" href="{{ path('app_promotion_new') }}">Créer une nouvelle promotion</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Formation</th>
                    <th>Formateur</th>
                </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.nom }}</td>
                    <td>{{ promotion.formation }}</td>
                    <td>{{ promotion.formateur }}</td>
                    <td>
                        <a  type="button" class="btn btn-secondary" href="{{ path('app_promotion_edit', {'id': promotion.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune promotion</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
