{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des candidats</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_candidat_new') }}">Créer un nouveau candidat</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Numero teléphone</th>
                <th>promotions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.emailContact }}</td>
                <td>{{ candidat.numeroTel }}</td>
                <td>{{ candidat.promotionId}}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun candidat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
