{% extends 'base.html.twig' %}

{% block title %}Liste des organismes{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des organismes</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_organisme_new') }}">Ajouter un organisme</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Numero_tel</th>
                <th>Email_contact</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisme in organismes %}
            <tr>
                <td>{{ organisme.nom }}</td>
                <td>{{ organisme.adresse }}</td>
                <td>{{ organisme.numeroTel }}</td>
                <td>{{ organisme.emailContact }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_organisme_edit', {'id': organisme.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
