<div class="mb-3 d-flex p-2">
{{ form_start(form) }}
<div class="d-flex flex-column p-5">
    {# {{ form_widget(form) }} #}
    Nom : {{ form_widget(form.nom) }}
    Prenom : {{ form_widget(form.prenom) }}
    Email : {{ form_widget(form.email) }}
    Numero de telephone : {{ form_widget(form.numero) }}
    Enseigne : {{ form_widget(form.enseigne) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
</div>
