{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des formateurs</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_formateur_new') }}">Ajouter un formateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formateur in formateurs %}
            <tr>
                <td>{{ formateur.nom }}</td>
                <td>{{ formateur.prenom }}</td>
                <td>{{ formateur.numero }}</td>
                <td>{{ formateur.email }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_formateur_edit', {'id': formateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun formateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
